<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="content">
        <div id="main-menu" class="scene">
            <div class="menu-bar">Main Menu</div>
            <button id="find" class="menu-button">Find Match</button>
        </div>  

        <div id="find-match" class="scene">
            <div class="menu-bar">Find Match</div>
            <span id="characters-text">Select Avatar</span>
            <div id="characters"></div>
            <button id="create" class="menu-button">Create New</button>
        
            <button id="back" class="menu-button">Back</button>
        </div>  
    </div>
    <script src="menu.js"></script>
</body>


</html>